[2014-08-04 11:19] pedrobaeza opened #28 "Put 8.0 branch as default and remove master"
@yvaucher can you do this? Anyone?

[2014-08-04 11:35] yvaucher commented on #28
As far as I know only members of the team https://github.com/orgs/OCA/teams/owners can do it.

[2014-08-04 11:38] pedrobaeza commented on #28
OK, thanks. Let's see if anyone can do these operations, and we get this organized as soon as possible.

Regards.

[2014-08-04 13:18] pedrobaeza opened #30 "Fix PEP8 on 7.0 branch"
I'm going to do it, so this is a message to avoid duplicating work.

[2014-08-06 08:13] Cedric-Pigeon opened #32 "V8 migration"
Hello,

We suggest to start the migration by this way :
- merge of branch 7.0 with 8.0
- fix conflicts and commit
- start modules migration one by one

Any other suggestions ?

Cédric

EDIT current migration status:
- [ ] account_advanced_reconcile @yvaucher (starting)
- [ ] account_advanced_reconcile_bank_statement
- [ ] account_advanced_reconcile_transaction_ref
- [ ] account_easy_reconcile @dam

[2014-08-06 09:55] pedrobaeza commented on #32
Hi, Cedric, what I'm going to do is to cherry-pick PEP8 fix into this branch, because there is going to be less conflicts than doing the merge, and then continue with the next step you mention. Please stay tuned, because I'm going to make the PR today.

Regards.

[2014-08-06 10:03] Cedric-Pigeon commented on #32
We already merged it.
-> https://github.com/acsone/bank-statement-reconcile/tree/8.0-port-base-import

We prefer this way because cherry pick make branch diverge.

By this way, it remains possible to forward port from 7.0.

[2014-08-06 11:20] pedrobaeza commented on #32
Cool! So please make the PR.

Thanks.

[2014-08-06 12:40] lmignon commented on #32
forward port 7 to 8 in https://github.com/OCA/bank-statement-reconcile/pull/33

[2014-08-06 14:01] pedrobaeza commented on #32
Merge done.

[2014-08-07 08:19] Cedric-Pigeon commented on #32
Could please re-opened this issue. I would like to keep it open during the migration process.

Only the first and second steps of the process are closed.

Thanks.

[2014-08-07 08:26] pedrobaeza commented on #32
OK, we'll use it as migration board.

Regards.

[2014-08-07 08:29] Cedric-Pigeon commented on #32
The migration of some modules is not possible for the moment.
The serialized and sparse fields are not in the new API. An issue is currently assigned to Odoo dev team: odoo/odoo#1263

[2014-08-07 08:34] pedrobaeza commented on #32
Yeah, I have seen it. We can workaround it using dedicated fields for each data that it's written, or implement this field again in a module that we depends on.

Regards.

[2014-08-11 10:09] pedrobaeza commented on #28
Done.

[2014-08-11 10:09] #28 closed, assigned to nobody

[2014-08-14 11:22] yvaucher opened #36 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:39] #36 closed, assigned to nobody

[2014-08-18 06:42] ecino opened #37 "[7.0] Incompatibility between account_statement_ext and account_banking"
I cannot install the module account_statement_ext together with the account_banking module, because both modules replace the field period_id in the view account.view_bank_statement_tree.

[2014-08-20 13:54] laetitia-gangloff commented on #30
Hello,

I see that you have replaced some osv.except_osv by orm.except_orm in try except during your pep8 issue. I think it is not a good idea for the compatibility. Because in some case openerp raise osv.except_osv and not orm.except_orm.

Sorry to come too late :(

Stack trace sample:
  File "/home/lga/openerp/addons-banking/account_statement_ext/statement.py", line 608, in _get_period
    perio

[2014-08-20 14:12] bwrsandman commented on #30
Indeed, when catching, you must catch both except_orm and except_osv:

[code]

[2014-08-20 15:24] pedrobaeza commented on #30
You're right, Laetitia, although improbable, because all launch exceptions in the module are with orm.except_orm, but here it is the fix BTW: #38

[2014-08-21 07:32] laetitia-gangloff commented on #30
The stack trace sample come from a new installation. Maybe it is not the case for all try/except ;).
Thank you for the correction.

[2014-08-25 07:05] guewen opened #39 "Cron for easy reconcile fails when a reconcile profile never ran"
`account_easy_reconcile.run_scheduler()` fails when a reconcile profile has no history, because it tries to convert a None value to a date.

[code]

[2014-08-25 07:07] guewen commented on #39
Only in https://github.com/OCA/bank-statement-reconcile/pull/16 so I close this issue and fix directly in the PR.

[2014-08-25 07:07] #39 closed, assigned to nobody

[2014-09-25 09:17] vrenaville opened #43 "Automatic reconcile delete and replace some partial reconcile done by user manually"
Automatic reconcile delete and replace some partial reconcile done by user manually

To reproduce:
- Create a customer invoice for 10000 € to Customer X (customer account: 4110000) - Add a reference : ABC1234 and validate the invoice to book it into ledger
- Pay partialy that invoice (8000€) using the bank statement...but fill in a different reference (XYZ789) - Confirm the bank statement - the pa

[2014-09-26 08:08] fclementic2c commented on #43
+1
This is a big problem we face today with the advanced reconcile module.
Users expect the system not altering reconciliation manually created !

[2014-09-26 19:06] pedrobaeza commented on #43
Do you have a PR?

[2014-10-08 07:31] #43 closed, assigned to nobody

[2014-10-13 09:24] alexis-via commented on #37
This is a know issue. But you should not need the module account_banking if you use account_statement_ext: in the banking branch, you should only need account_banking_payment_export.

[2014-10-13 09:25] alexis-via opened #55 "Bad encoding in account_statement_base_completion/i18n/fr.po"
The encoding of the file bank-statement-reconcile/account_statement_base_completion/i18n/fr.po is broken ; all accents are badly displayed.

[2014-10-14 08:01] ecino commented on #37
Thanks for the tip. In fact I need the account_banking module because it is a dependency of module account_payment which I use for having filters on payment terms in direct debit orders.

[2014-10-14 18:20] sbidoul commented on #37
@ecino account_banking_payment will soon be independent of account_banking.

In this 8.0 branch https://github.com/acsone/banking/tree/8.0-refactor-account_banking_payment-sbi, the module is split in account_banking_payment_transfer and account_banking_payment_term.

[2014-10-14 21:35] alexis-via commented on #37
@sbidoul
Great news ! I just had some trouble today because I thought that account_banking_payment was already independant from account_banking, so I uninstalled account_banking, and it silently uninstalled account_banking_payment (I hate the silent uninstalll of dependancies on Openerp v7 ; hopefully, this is fixed in v8) and several other custom modules ! In fact, the only usefull feature for me

[2014-10-15 06:17] sbidoul commented on #37
@alexis-via my branch is built on top of Pedro's 8.0 port. I'd really appreciate if you could test it, especially wrt direct debit.

[2014-10-15 19:44] RoelAdriaans commented on #37
We use account_banking because we need it for account_banking_camt for importing the bank files.

With account_banking and account_statement_ext installed, statement lines without a invoice are no longer set to confirmed. This is a problem when a statement is canceled and confirmed again, because the account move lines are created again, creating duplicate accounting entries.

[2014-10-15 20:34] sbidoul commented on #37
@RoelAdriaans-B-informed in 7.0, any module of OCA/banking that depends on account_banking is incompatible with OCA/bank-statement-reconcile. There is no known way to solve this in the 7.0 branches.

The plan for 8.0 is discussed in this thread: https://lists.launchpad.net/banking-addons-drivers/msg00120.html

[2014-10-17 13:56] yvaucher commented on #55
Thanks for the fix

[2014-10-17 13:56] #55 closed, assigned to nobody

[2014-11-05 15:24] ecino opened #61 "FileParser default value for extra_fields"
#23 Introduced a problem in file_parser.py:

https://github.com/OCA/bank-statement-reconcile/blob/7.0/account_statement_base_import/parser/file_parser.py#L43

The parameter extra_fields is in fact mandatory as it is now, since it defines the conversion_dict and the keys_to_validate fields. Thus, it should not be named extra_fields anymore, but fields and should not take a None default value. If no

[2014-11-05 16:13] pedrobaeza commented on #61
Can you please make a PR with the changes you mentioned?

Thanks.

[2014-11-10 10:55] ecino opened #62 "[7.0] Accented characters in bank statement label field"
The completion crashes if an accented character is present in a bank statement label field (when completing based on this field).

The problem is in line 273 of file account_statement_base_completion/statement.py:
    re.escape(x.strip())

The escape method escapes accented characters leading to invalid SQL queries (they should not be escaped I think).

I don't know how to fix this problem...

[2014-11-27 14:25] fclementic2c opened #69 "[7.0] Easy reconcile module -> do not work if secondary currency set on account"
If you create a easy reconcile on an account with a secondary currency you will get a message : You have to prive an account for the write off/exchange difference entry.
Even if you set these account in settings / accounting, it does not prevent you to get this message.

see my print screen (the main currency is in CHF and the EUR is a foreign currency in this exemple)

![1](https://cloud.githubus

[2014-12-04 09:04] fclementic2c commented on #69
With this PR the probleme will be solved.

[2014-12-05 19:54] bwrsandman commented on #30
PEP8 is clean on 7.0 so I will close this. Consider cleaning 6.1

[2014-12-05 19:54] #30 closed, assigned to nobody

[2014-12-21 12:56] sbidoul opened #77 "Weird behaviour of account_invoice_reference with customer invoices and structured references"
Hi,

While testing account_invoice_reference, I noticed a weird behaviour of the module wrt structured references (and l10n_be_invoice_bba in particular).

Modules generating structured reference for specific values of reference_type tend to put the structured reference in the... reference field.

With this module, since the name and reference fields are swapped on customer invoices this gives a w

[2015-01-08 10:50] lepistone opened #80 "build broken in 7.0 since 2015"
The 7.0 build is broken because of a missing 2014 fiscal year. I restarted the 7.0 build to show this.

[2015-01-14 09:45] #80 closed, assigned to nobody

[2015-01-20 13:30] laetitia-gangloff commented on #43
Hello,

I have the following use case :
- an invoice payment
- an invoice fee
- a bank statement

When bank statement is not loaded, the invoice payment and invoice fee are partially reconciled automatically.
Then the bank statement comes. I want the reconciliation take account of the preceding partially reconciled move.

With the proposed fix, it is not the case. Is it possible to propose an opti

[2015-01-23 19:46] bwrsandman commented on #37
What's the status on this issue? Can it be closed?

[2015-01-23 19:49] pedrobaeza commented on #37
I think so, because with the new account_statement_import framework, there is no possible incompatibility.

[2015-02-01 17:10] pedrobaeza opened #91 "Remove account_statement_ext from the repository"
As stated in #34, most of the functionality is in the new import framework, and some missing features are being handled here: https://github.com/OCA/bank-statement-import/pull/4

[2015-02-20 19:30] #37 closed, assigned to nobody

[2015-05-20 08:20] hmartinet opened #108 "No bank list on res.partner.bank form from company form"
On branch 7.0 with `l10n_ch, l10n_ch_bank, l10n_ch_base_bank, l10n_ch_payment_slip` installed, there is no more bank selectable in the bank field (but there is banks imported by `l10n_ch_bank` in the `res_bank` table in database).

[2015-05-20 08:21] #108 closed, assigned to nobody

[2015-05-20 08:22] hmartinet commented on #108
Sorry this issue is for l10n-switzerland project...

[2015-06-12 08:19] #69 closed, assigned to nobody

[2015-06-15 12:43] yvaucher commented on #32
Let's add list of modules and existing PR to have an overview

[2015-06-15 12:50] yvaucher commented on #32
I'll start migrating **account_advanced_reconcile**

[2015-07-10 11:48] ecino commented on #32
Hi all, do you know if there are any plans to migrate module `account_statement_completion`, knowing that `account_statement_ext` won't be migrated ?

[2015-07-10 12:03] fclementic2c commented on #32
difficult I think with the new banking...

_camptocamp_

INNOVATIVE SOLUTIONS
BY OPEN SOURCE EXPERTS

_Frédéric Clementi_
Project Manager
Business Solutions

+41 21 619 10 41

www.camptocamp.com

2015-07-10 13:48 GMT+02:00 ecino notifications@github.com:

[2015-07-10 12:10] ecino commented on #32
Completion is something we will definitely need, as we import huge statements (>500 lines) that we don't want to process manually.
I think we could either reintroduce bank statement profiles to do it like before, or build something new around parsers so that completion can be directly done during the import.

What do you think ?

[2015-07-10 12:12] pedrobaeza commented on #32
The second approach is definitively the correct one. We have already done some completion while importing in spanish bank statement format: https://github.com/OCA/l10n-spain/tree/8.0/l10n_es_account_bank_statement_import_n43

[2015-10-14 00:19] pedrobaeza opened #125 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate (alphabetically)
- [x] account_advanced_reconcile - #136
- [ ] account_advanced_reconcile_bank_statement
- [ ] account_advanced_reconcile_transaction_ref
- [ ] account_bank_statement_period_from_line_date
- [x] account_easy_reconcile @mdietrichc2c - #136
- [ ] account_invoice_reference
- [ ] account_

[2016-01-14 21:48] sebastienbeau opened #129 "Import of remitance"
Hi all

I would like to share with you some idea about credit card remittance, marketplace remittance.

My customer sells on 3 marketplace and also on his own website.
This generate a lot of invoice per day and each day or week depending of the sale channel he receive a transfer for all the invoice paid
## How I work on 6.1 and 7 version

For now we use the **bank_statement_import** framework comb

[2016-01-15 06:41] JordiBForgeFlow commented on #129
Hi, this case is similar to how I process my VISA remittances. In this case I create a Visa journal with a Visa bank account and a Visa-Bank reconciliation account.

I import the Visa remittamce into a bank statement, then reconcile the lines with the invoices. The outstanding payments are kept in the Visa account balance.

The invoices are therefore flagged as paid using the visa bank statement r

[2016-01-15 07:36] fclementic2c commented on #129
@jbeficent
Ok on the accounting principle. The trick here is make sure it is easy to handle high volumetry of transactions (ie : e-commerce).
Let me play the devil's advocate on that one:

Odoo is so slow to create account moves that importing hundreds of card transactions is really tedious. It would be much better to simply flag SO/Invoices paid with a simple checkbox. You could create a tool to

[2016-01-15 08:15] JordiBForgeFlow commented on #129
El dia 15/01/2016 8:36, "Frédéric Clementi" notifications@github.com va
escriure:

It would be much better to simply flag SO/Invoices paid with a simple
checkbox. You could create a tool to import transactions, identify them
using a reference and then check the box.

A bank statement in Odoo is a tool, not a formal accounting document. No
auditor is going to look into your bank statements in Odoo

[2016-01-15 08:18] sebastienbeau commented on #129
Hi indeed the aim is to target hight volume.

I think I miss some extra information in my description, the big point is having only one move per remittance instead of one line per line of remittance

I have added this section : "Note : Why account_statement_one_move exist?" Hope my explication are better now.

[2016-01-15 08:34] JordiBForgeFlow commented on #129
@sebastienbeau I don't really get it. I can understand that you have a high volume of transactions. But then that means high volume of customers as well, and you still want to know how much does each customer owe to you, right?

The whole point of managing AR and AP is to reconcile with payments made, and to have full traceability of what occurred.

If the accountant says, "I want to receive 1 lin

[2016-01-15 08:40] JordiBForgeFlow commented on #129
@sebastienbeau In the end, a customer invoice creates a journal entry with Dr. Accounts Receivable, and you really need to reconcile this with the corresponding payment, using another account.move.line. If you have 1000 transactions, means that you more or less have 1000 invoices to be paid. How do you expect to have less than, at least, 2000 move lines?

I see no way around this. If you have 1M i

[2016-01-15 08:54] sebastienbeau commented on #129
Hi @jbeficent I think this is some misunderstood.

The first solution will need 501 account.move.line and 1 account.move for reconciling 500 invoice.
Each invoice will be reconcile with one account.move.line.

The second solution willl generate 1000 account.move.line and 500 account.move for reconciling 500 invoice. Each invoice will be reconcile with one account.move.line.

In the both solution I

[2016-01-15 09:24] JordiBForgeFlow commented on #129
Thanks @sebastienbeau I now understand your case. IMHO you may want to create a separate object "Remittance" where you can handle the process.

Upon completion of the "Remittance", it would create:
Cr. AR (partner 1)
Cr. Commission
Cr. AR (partner 2)
Dr. Transfer Account

Finally, you would run an automated reconciliation wizard (standard Odoo or OCA) to match Dr and Cr from the AR based on partne

[2016-01-15 09:56] sebastienbeau commented on #129
"I don't see a problem of a customer paying with two channels (visa and bank transfer)" Yes with the solution with account move there is not issue.

The issue was with an alternative object (batch reconcile) that will not generate an account move and just tick box to check what have been paid or not, but this will not work with multi payment.

This is why I want a solution with an account move so

[2016-01-15 10:30] JordiBForgeFlow commented on #129
@sebastienbeau I understand. Would the remittance contain other information that is not really relevant to the account.move? Perhaps you'd want to know, when each transaction did occur in reality, or the transaction ID, but this information would not be added to the account.move.line, and thus you'd loose data.

Creating an interim model is good IMHO, as long as once you post the account.move you

[2016-01-15 10:59] sebastienbeau commented on #129
Yes it can be an issue.

In my case (in France) I import a remittance with **only** validaded customer payment that match with the total amount in bank. For all my customer case, I can work without adding extra field. But what I need is to always link the account_move generate to the original file

How does it work in Spain do you need extra field?

Thanks

[2016-01-15 11:34] JordiBForgeFlow commented on #129
@sebastienbeau I think that this should be enough. In Spain your approach should be good enough.

[2016-01-15 11:36] sebastienbeau commented on #129
Ok thank for your feedback !

[2016-01-15 14:26] jgrandguillaume commented on #129
I just lost my huge post... No time to rewrite it now sorry :(

[2016-01-15 14:38] jgrandguillaume commented on #129
Hi,

Firstly, thank you to start this thread. You can count on us to helps you with this as we need a solution as much as you do :)

I share some thoughts we had around one year ago on the subject. This was how we imagine it.

**Sales**
- No change on this point, it is the invoice validation that create the accounting entries.

**Confirm transaction (credit office, marketplace or paypal send you t

[2016-01-17 10:39] elicoidal commented on #129
We have a customer in NZ that works that way. We customized the code in a similar way

[2016-01-27 14:42] JordiBForgeFlow opened #132 "[8.0] [account_easy_reconcile] partial reconciliation not working"
In 8.0 partial reconciliation is not happening. In v7 it used to work.

Root cause:
base_reconciliation.py, in method "_reconcile_lines" calls to account move line method "reconcile" instead of "reconcile_partial".

[2016-01-27 14:43] JordiBForgeFlow commented on #132
@damdam-s I can see that you did the migration to v8. Can you help me with this one?

[2016-01-27 14:50] damdam-s commented on #132
@jbeficent According to https://github.com/OCA/bank-statement-reconcile/blob/8.0/account_easy_reconcile/README.rst, this module does not allow partial reconciliation.
Maybe you want this module being migrated https://github.com/OCA/bank-statement-reconcile/pull/112

[2016-01-27 15:19] JordiBForgeFlow commented on #132
@damdam-s  Not really. It is in account_easy_reconcile where a partial reconciliation method is called, but it's not used in the actual method. It is in the advanced reconciliation where the _reconcile_lines method of 'easy.reconcile.base' is called, but passing parameter allow_partial=True.

So I understand that this is a bug of this module, not the advanced reconciliation one, because the accoun

[2016-03-11 14:54] andreschenkels commented on #132
Jordi,
Did you create the PR?

[2016-03-29 13:27] flotho opened #135 "Conflicts between repo?"
Hi,

Is there really useful to have import ofx in this repo as it already exists in https://github.com/OCA/bank-statement-import and it's already port to v9?

regards

[2016-03-29 13:44] pedrobaeza commented on #135
This one weren't be migrated in v8 nor in v9. We should remove it from here. Doing...

[2016-03-29 13:48] pedrobaeza commented on #135
Done.

[2016-03-29 13:48] #135 closed, assigned to nobody

[2016-04-15 07:50] mdietrichc2c commented on #125
PR for the migration of both account_easy_reconcile and account_advanced_reconcile : https://github.com/OCA/bank-statement-reconcile/pull/136

[2016-05-17 11:34] cyrilgdn commented on #125
PR for new V8 module account_statement_operation_rule: https://github.com/OCA/bank-statement-reconcile/pull/141

[2016-05-17 11:41] yvaucher commented on #125
@cyrilgdn You are in the list. Thanks

[2016-10-06 12:48] pedrobaeza opened #156 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] ~~account_bank_statement_period_from_line_date~~ Not needed anymore
- [ ] account_invoice_reference
- [x] account_mass_reconcile - By @grindtildeath - #166
- [ ] account_mass_reconcile_ref_deep_search - By @damdam-s - #208
- [x] account_mass_reconcile_transaction_ref - ~~By @damdam-s - #207~~

[2016-11-09 11:57] alexis-via commented on #156
PR #164

[2017-01-20 09:26] grindtildeath commented on #156
Please add PR : https://github.com/OCA/bank-statement-reconcile/pull/166

[2017-05-12 13:56] ahetland opened #172 "account.bank.statement.form show "Journal Entries" should be "Journal Items""
Hi, this is my first bug report so I hope I put it in the right place ...

When going to Accounting >> Dashboard >> Bank Statements and entering bank statement a quick button is on the top right corner taking you to the journal entries.

This button will be confusing / misleading if as example you have 2 entries in the bank to reconcile, income +200 and costs -100 the Journal Entries will show two

[2017-05-18 16:43] max3903 opened #173 "Provide bank statement reconciliation like Quickbooks"
https://www.youtube.com/watch?v=MgF2nkWvKCQ

Migrate the module account_banking_reconciliation originally made by Nova Point Group and maintained by Ursa Information Systems.

[2017-05-18 16:52] pedrobaeza commented on #173
What is the advantage of this method over current one in Odoo? I see current very good.

[2017-05-18 17:00] max3903 commented on #173
@pedrobaeza Do you mean the out of the box one? Have you watched the video?

[2017-05-18 22:21] max3903 commented on #173
@pedrobaeza The advantage of this method is that it is the one of Quickbooks, which has a significant market share in the US. That's how US accountants do their bank reconciliation with Quickbooks and that's how some of them want to continue to do it in Odoo. This module aims to ease the transition.

[2017-06-09 01:23] pedrobaeza commented on #173
I have watched again the video and find very odd the QuickBooks method, but anyway, as there's an opened PR for this, I close the issue.

[2017-06-09 01:23] #173 closed, assigned to max3903

[2017-10-03 14:01] pedrobaeza opened #186 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_bank_statement_period_from_line_date
- [x] account_banking_reconciliation - By @murtuzasaleh - #261
- [ ] account_invoice_reference
- [x] account_mass_reconcile - By @mpanarin - #197
- [x] account_mass_reconcile_by_purchase_line that is merged - By @jbeficent - #212
- [x] account_mas

[2017-10-30 14:33] florian-dacosta opened #188 "[9.0] account_mass_reconcile_transaction_ref broken since recent commit"
The module won't work since this commit :
https://github.com/OCA/account-reconcile/commit/91a1aafd849d7a34da8d13dab42409c6950cc14e

The problem is that now, base_mass_reconcile call the method `_base_columns` on `mass.reconcile.base` but account_mass_reconcile_transaction_ref override `_base_columns` on `mass.reconcile.advanced`.
So the code of account_mass_reconcile_transaction_ref is not used an

[2017-11-06 17:21] #188 closed, assigned to nobody

[2018-04-05 09:08] damdam-s commented on #156
@pedrobaeza  account_move_transactionid_import #202

[2018-04-05 09:52] damdam-s commented on #156
@pedrobaeza account move so import  #203

[2018-04-06 13:11] damdam-s commented on #156
@pedrobaeza account_mass_reconcile_transaction_ref #207

[2018-04-06 13:19] damdam-s commented on #156
@pedrobaeza  account_mass_reconcile_ref_deep_search #208

[2018-08-09 10:01] whulshof opened #215 "allow_reconciliation on account with move_lines?"
Would anybody know if there is an existing module, that makes it possible to switch allow_reconciliation on for accounts with existing move_lines.
If not would this be as simple as running the _amount_residual method for move_lines with this account? Or should I think of other things as well?

[2018-08-09 10:05] whulshof commented on #215
I would be interested to create such a module, to be clear.

[2018-09-27 00:02] OCA-git-bot opened #218 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] account_banking_reconciliation - By @murtuzasaleh - #268
- [x] account_mass_reconcile - By @ageficent - #235
- [ ] account_mass_reconcile_by_purchase_line
- [x] account_move_reconcile_helper - By @Abranes - #246
- [x] account_partner_reconcile - By @bjeficent - #236
- [x] account_set_reconci

[2018-10-08 14:24] grindtildeath commented on #186
@pedrobaeza Can you please update this for account_mass_reconcile_transaction_ref #222 (and close #207 )

[2018-10-12 08:12] bodi000 commented on #125
Hello,
I think I could use the module **account_statement_base_completion**, together with its localisation, l10n_ch_payment_slip_account_statement_base_completion. I see them both unported, so I would like to know if any effort has been already done for this migration, so I will not duplicate the work...

After a second look, I see it was not really ported since 7.0, and that there are a few PR w

[2018-10-12 11:08] pedrobaeza commented on #125
So then there's any conclusion?

[2018-10-18 00:35] travish2 commented on #215
Hi whulshof, I had the same requirement, check out account_set_reconcilable: https://github.com/OCA/account-reconcile/pull/220

[2018-11-22 11:35] CasVissers-360ERP opened #233 "account_skip_bank_reconciliation no translation files"
For account_skip_bank_reconciliation the translation files are not generated, so I can't translate.

[2018-12-04 13:33] AaronHForgeFlow commented on #218
account_mass_reconcile_by_purchase_line should be deprecated. In standard GRNI is auto reconciled. @jbeficent

[2018-12-28 00:50] emagdalenaC2i commented on #218
@pedrobaeza and @jbeficent What do you think?

Please, add to the list account_partner_reconcile - By @bjeficent - #236 (Moved from OCA/account-payment)

[2018-12-28 01:14] emagdalenaC2i commented on #186
Please check account_mass_reconcile because it is merged - By @mpanarin - #197
Please add to the list account_mass_reconcile_by_purchase_line that is merged - By @jbeficent - #212
Please add to the list bank_statement_foreign_currency - By @jbeficent - #205
There are two PR to migrate account_mass_reconcile_ref_deep_search - By @sebalix - #229 and - By @grindtildeath - #232
There is a PR to migrat

[2019-01-02 15:29] Byloth opened #237 "[11.0] 'account.reconciliation' widget no longer exists"
Hi,
as I wrote in the title, the `account.reconciliation` widget doesn't exist anymore in Odoo 11.0.

https://github.com/OCA/account-reconcile/blob/8e2b5060d39e32f2212a438ba9f028a55aa7a179/base_transaction_id/static/src/js/account_widgets.js#L3

For this reason, the `base_transaction_id.base_transaction_id` widget is **never** loaded and sometimes, under certain conditions, you'll get a **blank pa

[2019-01-02 15:37] Byloth commented on #186
Sorry, but...
Module `base_transaction_id` is broken and has not been migrated properly.

You can find some extra details here: #237

[2019-01-06 20:23] emagdalenaC2i commented on #186
@pedrobaeza #229 is closed and #232 is ready to be merged

It's not a big issue, but account_banking_reconciliation (# 174) by @ursais should keep the format: account_banking_reconciliation- By @ursais - #174

[2019-05-17 18:12] ghost opened #259 "Bug: account_partner_reconcile [12.0]"
The modules is on my fresh and used intance not functionable.
I klick on "match payment" and i get only the smily face, nothing to do ...

How could i start a runbot-instance with this module to test ?

[2019-06-01 14:42] emagdalenaC2i commented on #218
Please check account_mass_reconcile - By @ageficent - #235 that is already merged

check bank_statement_foreign_currency - By @open-net-sarl - #241 By @jbeficent - #255 that is already merged

Please, add the PR in account_banking_reconciliation - By @murtuzasaleh - #262

[2019-07-15 07:13] #233 closed, assigned to nobody

[2019-09-29 21:27] OCA-git-bot opened #290 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] account_banking_reconciliation
- [ ] account_mass_reconcile
- [ ] account_move_base_import
- [ ] account_move_reconcile_helper - By @kittiu #301
- [ ] account_move_so_import
- [ ] account_move_transactionid_import
- [ ] account_partner_reconcile - By @MiquelRForgeFlow - https://github.com/OC

[2019-10-14 21:06] max3903 opened #294 "[ADD] account_reconcile_reconciliation_date"
This module allows you to show the reconciliation date on the payment and the credit notes.

# Usage

* Create an invoice on 6/1 for 1,000$
* Create a refund on 7/1 for 500$
* Create a payment on 8/1 for 500$
* Check the Aged Receivable report to make sure everything shows up in the right columns
* Reconcile the invoice, refund and payment on 9/1
* The reconciliation date (create_date of account.f

[2019-10-25 13:42] yvaucher commented on #290
@OCA/accounting-maintainers In l10n-switzerland we will get rid of the dependency on module `base_transaction_id`. I suggest to not migrate this module to version 13.0. Any objection, was it used elsewhere?

[2019-10-25 14:50] pedrobaeza commented on #290
I think it's used in some reconcile modules by your company.

[2019-10-25 15:16] florian-dacosta commented on #290
@yvaucher https://github.com/OCA/account-reconcile/tree/10.0/account_mass_reconcile_transaction_ref
I think it is still relevant, no?
I actually use this module for a customer (v9)

[2019-12-02 16:34] yvaucher commented on #290
Question is: Will you be using it in version 13.0 or later. In version 9.0 we were lacking a proper field to save a payment reference for reconciliation. But, since version 12.0 I see no reasons to not use the standard reference field.

[2019-12-02 16:53] florian-dacosta commented on #290
I am not sure to know which field exactly you are talking about.
I did not need to install all the reconciliation stuff in version 12 yet, so I am not sure, but I am not aware of a better field for this use.
So AFAIK I would still need it, but I may be wrong.

[2020-01-06 13:23] kittiu commented on #290
Working on account_move_reconcile_helper
https://github.com/OCA/account-reconcile/pull/301

[2020-01-29 11:38] MiquelRForgeFlow commented on #290
`bank_statement_foreign_currency` is deprecated (or merged into `account`), because the fields in the view have the `optional="hidden"`

[2020-01-29 12:24] MiquelRForgeFlow commented on #290
account_partner_reconcile https://github.com/OCA/account-reconcile/pull/303

[2020-02-17 15:51] #294 closed, assigned to max3903

[2020-02-27 10:08] CasVissers-360ERP opened #304 "[12.0] account_skip_bank_reconciliation breaks matching on payments"
See video on runbot:
https://drive.google.com/file/d/141WuxkUkqNFjcALDnAzfmKtrhlqlEpGQ/view

When installing account_skip_bank_reconciliation payments are not matched anymore in bank statements.

@MiquelRForgeFlow @JordiBForgeFlow

[2020-02-27 12:28] MiquelRForgeFlow commented on #304
Solved in https://github.com/OCA/account-reconcile/pull/305.

[2020-02-27 12:55] #304 closed, assigned to nobody

[2020-03-17 20:47] josepmy opened #309 "[12.0] How to allow to mix accounts receivable and payable in bank reconciliation?"
Hello,
I need to get receivable and payable accounts in bank reconciliation, for example, to "confirming" operations where the banks advance the invoice and at the same time I must pay to the bank expenses and bank interest.

Salut,
Josep M

[2020-03-17 21:00] pedrobaeza commented on #309
@josepmy please stop using GitHub issues as a forum for questions. This is not about any module in this repository nor for questions.

[2020-03-17 21:00] #309 closed, assigned to nobody

[2020-03-17 21:03] josepmy commented on #309
Sorry. I guessed I could ask here.

[2020-04-29 17:55] MohsenWaleed opened #314 "[11.0] account_reconciliation_widget_partial module not do a partially reconcile."
Thanks for this module. I have tried this module and I was able to modify the amount and see the difference but when I click on Reconcile button and check the journal entry I see that the whole amount in the reconciled not the partial amount.

Please check the screencastify for my work:
https://drive.google.com/file/d/1WJB6A56D-thmlW_iL25P3moDvScTCJHu/view

Kindly check and advise if I understood

[2020-05-14 17:00] WhiteTiger08 opened #317 "[account_banking_reconciliation] Question"
I'm testing this module, but when the account is in a foreing currency, it closes the currency amount pretty well, but base currency is not closing very well. How can I specify the ending balance in base currency?

Am I missing something?? (check the images below)

![image](https://user-images.githubusercontent.com/5760036/81963214-081cd700-95d2-11ea-87b1-b17531714fa1.png)

![image](https://user-i

[2020-07-31 18:32] NCS-75 opened #326 "[13.0] [Fonctional BUG] "bank_statement_journal_items" View miss the account move lines sourced by account.paiement reconciled"
**Context** :
OCB 13.0 Odoo Server up to date [(07/30/2020),]
Virgin database , to reproduce issue faced on my test environnement.
Also !!  >> Get same bug on runbot : http://3432790-13-0-d7682b.runbot2-2.odoo-community.org

Considering "bank_statement_journal_items", is installed, and user have:
- [x] Show Full Accounting Features

**Steps to reproduce :**
- From an invoive form, register a payme

[2020-08-14 01:26] niyshah opened #331 "Bank Statement reports have all Zero values - Odoo11 CE"
Bank Statement reports have all Zero values except for Initial Balance in the Detail Report.

Recently upgraded client to Odoo11 CE. The bank reconciliation process works fine. It's just that the reports are blank in terms of amount. The detail report has every item, but zero values.

Install version of addon - 11.0.1.0.0

![Screenshot_20200814_112440](https://user-images.githubusercontent.com/547

[2020-08-14 01:59] niyshah commented on #331
Update - Removing the field options displays values.

`<span t-field="o.starting_balance"   t-options="{&quot;widget&quot;: &quot;monetary&quot;, &quot;display_currency&quot;: o.account_id.currency_id}"/>`

to

`<span t-field="o.starting_balance"  />`

Python is not my strength, so can't debug further. The currency in use is AUD. It appears the formatting function is failing for some reason.

[2020-08-14 02:36] niyshah commented on #331
By updating the formatting lines from

`t-options='{"widget": "monetary", "display_currency": o.account_id.currency_id}'`

to

`t-options="{'widget': 'monetary', 'display_currency': res_company.currency_id}"`

The reports now produce valid results.
Updated reports attached
[report_bank_statement_summary.txt](https://github.com/OCA/account-reconcile/files/5072425/report_bank_statement_summary.txt)

[2020-08-14 07:06] pedrobaeza commented on #331
Which module?

[2020-08-15 11:25] niyshah commented on #331
Apologies, just noticed that, the account_banking_reconciliation module

[2020-08-15 11:30] niyshah opened #332 "account_banking_reconciliation module - Report enhancements requests"
While all the data IS available in the actual process of the bank reconciliation, the reports, both  summary and detail are both missing vital parts. In particular, it is missing the Uncleared data and is also missing the name of the statement or something to identify when the report is printed, which account the report applies to.

Comments from my accountant and their auditors.
"the reconciliati

[2020-08-15 11:37] pedrobaeza commented on #331
@max3903 this one seems to be yours

[2020-08-31 19:24] alexandreduf opened #333 "account_reconcile_reconciliation_date - Module description could be more precise"
Hi everybody!

Module : account_reconcile_reconciliation_date
Version : 12

The general purpose is described as following : "This module is designed to help users track when invoices and payments are reconciled"

But what does that module actually do?

In what view can we see it in action? What information does it display? And where? Does it add some menu?

I tried running a runbot and it's still

[2020-09-06 06:08] alexey-pelykh opened #334 "[12.0][BUG?] account_reconcile_rule: exception when loading reconcile list with lines that match any rule"
(On production instance, did not yet try to reproduce on Runbot)
[code]

[2020-09-06 07:31] alexey-pelykh opened #335 "[12.0][BUG] account_skip_bank_reconciliation?"
On runbot, create Reconciliation Model:
![image](https://user-images.githubusercontent.com/345102/92320712-bafebe00-f023-11ea-947f-40728d4a1bf6.png)
![image](https://user-images.githubusercontent.com/345102/92320716-c356f900-f023-11ea-8f9b-2c8368a482e9.png)

Open reconcile mode, and observe:

[code]

[2020-09-12 02:17] alexandreduf opened #336 "Can't try bank_statement_journal_items module on Runbot (no menu leads to bank statements)"
Hi,

I tried this module via runbot : https://github.com/OCA/account-reconcile/tree/13.0/bank_statement_journal_items

Here's  the problem :
There is no submenu in Invoicing that leads to bank statements. Thus, it's impossible for a novice user (like me) to try this module via runbot.
![No_accounting_menu](https://user-images.githubusercontent.com/70237796/92984939-4345ee80-f47c-11ea-995b-210243af

[2020-09-12 02:22] alexandreduf commented on #336
Hi,

It's me again. My previous post seems to be true for the whole project. I can't seem to find the "Accounting" menu in "Invoicing" in other modules.

Have a nice day!

[2020-09-19 07:22] alexey-pelykh commented on #334
cc @guewen @grindtildeath

[2020-09-19 07:24] alexey-pelykh commented on #335
Uninstalling `account_skip_bank_reconciliation` resolves the issue. Thus cc @MiquelRForgeFlow @AdriaGForgeFlow

[2020-09-21 07:50] MiquelRForgeFlow commented on #335
It's strange your error because it says "account" is missing, but it really exists in https://github.com/odoo/odoo/blob/12.0/addons/account/models/account_reconcile_model.py#L424.

[2020-09-21 07:54] alexey-pelykh commented on #335
Well, it is reproducible on runbot easily. Right now this bug makes runbot unusable unless module is uninstalled

[2020-09-21 07:58] MiquelRForgeFlow commented on #335
Yeah, I found the cause. The _apply_conditions method is also called in https://github.com/odoo/odoo/blob/12.0/addons/account/models/account_reconcile_model.py#L523, which this one doesn't have "account" :(

[2020-09-21 08:24] MiquelRForgeFlow commented on #335
Fixed in https://github.com/OCA/account-reconcile/pull/341.

[2020-09-21 08:42] #335 closed, assigned to nobody

[2020-10-04 10:19] OCA-git-bot opened #343 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_mass_reconcile
- [ ] account_mass_reconcile_by_sale_line - By @dnplkndll - #434
- [x] account_partner_reconcile
- [x] account_reconcile_payment_order - By @CarlosRoca13 - #457
- [x] account_reconcile_restrict_partner_mismatch
- [ ] bank_statement_journal_items

Missing module? Check

[2020-10-27 16:41] kittiu opened #351 "[13.0][BUG] Why account_mass_reconcile allow reconcile items with move's status = Draft, Cancelled ?"
This module has long history, but it does surprise me that it reconcile even cancelled items. Is this intentional? And what is the rational?

![image](https://user-images.githubusercontent.com/1973598/97333263-f5f7d200-18ad-11eb-918f-f4bad04116da.png)

[2020-11-09 15:48] phuctranfxvn commented on #290
`account_reconcile_rule` done here  https://github.com/OCA/account-reconcile/pull/354

[2020-11-10 06:39] phuctranfxvn commented on #290
`account_reconcile_rule_early_payment_discount` migrated here https://github.com/OCA/account-reconcile/pull/356

[2020-11-10 16:11] yvaucher commented on #290
@florian-dacosta as I worked on this again lately for base_transaction_id, you don't need base_transaction_id in version 13.0. The field `invoice_payment_ref` is there for that. https://github.com/odoo/odoo/blob/13.0/addons/account/models/account_move.py#L202

You can see it is used in the reconcile matching query:
https://github.com/odoo/odoo/blob/13.0/addons/account/models/account_reconcile_mode

[2020-11-13 02:39] kittiu commented on #351
I have made the fix outside this module. If more people think this should be moved to core, I will do the PR.

Thanks!

[2020-12-17 00:43] ozono commented on #343
Working on account_reconciliation_widget  #359

[2020-12-28 08:13] Zar-SW commented on #343
Any update on account_mass_reconcile v14?

[2021-01-03 18:49] jumshudsultan opened #362 "Odoo (V13E) is not handling to mass reconcile records of 250k with account_mass_reconcile"
I've got more than 250k of records which I'm trying to do a mass reconciliation, but it's not happening due to timeout. Is there any way to process it by batches?

![image](https://user-images.githubusercontent.com/43217182/103486259-f795c700-4e15-11eb-9c3b-8297ba431d7e.png)

[2021-01-16 15:33] Gabriel142 commented on #314
I have the same problem, did you manage to fix it?

[2021-01-17 14:06] MohsenWaleed commented on #314
@Gabriel142 No

[2021-02-14 23:23] maherkhalil07 opened #366 "Mistake in reconciliation"
I created payment from customer = 500 usd
I created invoice to the same customer  = 1000 usd
I did manual reconciliation, it works fine
but still the invoice not reconciled even balance equal to 500 (balance after manual reconciliation = 1000-500)
still outstanding payment appear in the invoice which is wrong

[2021-03-02 12:09] PRMA974 opened #368 "Blank pdf report using account_banking_reconciliation"
Hello,
i am facing an issue on Odoo 12 community using account_banking_reconciliation module. PDF reports "bank Statement details" are blank/empty...I am wondering why ? Anyone may have an idea, please ? Thank you for developpement and attention. Laurent.
[Bank Statement-Detail (25).pdf](https://github.com/OCA/account-reconcile/files/6068457/Bank.Statement-Detail.25.pdf)

[2021-03-22 09:29] supakornkim commented on #368
Hi,
I also face this issue.

[2021-04-05 09:51] PRMA974 commented on #368
@max3903 Hello Maxime, i am still trying to print bank statement report from account_reconcile module. Is there a way to do it properly ? My pdf report are empty...
Thanks for your answer. Regards, Laurent.

[2021-04-06 06:29] PRMA974 commented on #368
Hi. As a user (not a coder), i found half of a solution in 3-4 steps  :
1) Go to invoicing -> settings -> activate multi-currency
2) Go to bank statement -> click to modify account (small icon square) -> choose currency (to do that, you need the rights to write on res.bank.user -> technical setting -> model -> res.bak.user add rights)
3) Go to configuration -> technical settings -> report -> bank

[2021-04-13 06:46] jcoux commented on #343
Working on account_partner_reconcile: https://github.com/OCA/account-reconcile/pull/374

[2021-04-13 07:35] florian-dacosta commented on #343
account_mass_reconcile https://github.com/OCA/account-reconcile/pull/371
account_move_base_import https://github.com/OCA/account-reconcile/pull/373

[2021-04-15 22:33] Mat-moran opened #375 "[14.0] not possible reconcile after odoo/odoo@80c2818"
Hi,

I do not know exactly if this issue should be post here or in odoo repository.

The thing is that after this commit  was posted: https://github.com/odoo/odoo/commit/80c28189ae6b10ad17c4de2a781233a8ffe663a6#diff-1e3bd6be3bfb83a37ec9fb800ce8b1c95afe0be90ff792874ae7299c320a2f6e

I am not able to reconcile any journal item.
The steps to reproduce the error are the next ones:

1. Create an invoice

[2021-04-17 23:20] bosd commented on #375
Experiencing the same problem. Thanks for digging into the commits for possible causes.
The items cannot be reconciled and the " The entry .. is already posted" medsage is shown. But the bank statement for reconcilination has the status "processing"

This one might be interesting for  @ozono who did all the hard work on ```account_reconciliation_widget``` in https://github.com/OCA/account-reconcil

[2021-04-17 23:42] bosd commented on #375
Just checked, it also happens on the runbot

[2021-04-18 09:08] bosd opened #376 "[14.0] account-reconcile-widget Progressbar not visible"
on runbot V14
![image](https://user-images.githubusercontent.com/11499387/115139963-2d616300-a035-11eb-8eee-99724ca38e1e.png)
expected result as on runbot V13:
![image](https://user-images.githubusercontent.com/11499387/115140012-60a3f200-a035-11eb-9be1-b1f47ee457b0.png)

From debugging in the browser:
V14 broken bar:
[code]

V13 bar:
[code]

and

V14 broken bar:
[code]

V13 bar:
[code]

[2021-04-18 10:27] ozono commented on #375
I take note of that. I'll take a look ASAP.

[2021-04-19 08:27] ozono commented on #375
Fixed in #377

[2021-04-19 08:28] #375 closed, assigned to nobody

[2021-04-19 19:11] bosd commented on #375
Thanks for the very prompt action. However I am unable to update the module:
The operation cannot be completed: another model requires the record being deleted. If possible, archive it instead.

Model: Unknown (Unknown), Constraint: account_move_line_account_tax_rel_account_move_line_id_fkey

Any pointers how to solve?

[2021-04-19 19:48] bosd commented on #375
Continued test on a different db.
The Validate button now triggers another error:

Error occured on statement lines imported with the module ```account_statement_import_camt```.
For testing purposes I created a manual statement on the same account. That one was able to reconcile.

Continuation in seperate issue. https://github.com/OCA/account-reconcile/issues/378

[2021-04-19 20:28] bosd opened #378 "[14.0] not possible to reconcile with filled in partner bank account"
**Steps to reproduce:**

Create or import a bank statement.
Create a statement line, fill in a partner and an ```account_number```.
Validate the statement and do an reconcile.
In the reconcile widget perform an reconcile and  press the validate button.

Following error is shown.
<details>

[code]

</details>

Step to double check if it is coming from bank account number:
Go back to the statement.

[2021-04-19 20:48] bosd opened #379 "[14.0] Account Reconcile widget - Question: Backporting translations?"
Went trough the legwork of translating the module on weblate.
NL is finished now :tada:
It was only after finishing it, found out that this is a backport and the translated strings are available in the old module.

Is there an posibility to also backport the translations for this module automatically?

Could save other translators a lot of work :wink:

[2021-04-20 06:35] pedrobaeza commented on #379
Well, they can't be easily extracted automatically, but you can do the following: with POEdit, you can add previous version files to your translation memory, and then open the new PO, and get the program to auto-fill the matched terms.

[2021-04-20 06:35] #379 closed, assigned to nobody

[2021-04-20 08:51] ozono commented on #378
Fixed on #380

[2021-04-20 11:13] #378 closed, assigned to nobody

[2021-04-21 11:33] ozono commented on #376
Fixed in #381

[2021-04-21 16:43] #376 closed, assigned to nobody

[2021-04-22 13:54] rp-landoo opened #383 "[14.0] account_reconciliation_widget - analytic item no created"
When reconcile item is manually reconciled, if an analytic account is established, Odoo doesnt create any analytic item.
![Captura](https://user-images.githubusercontent.com/82085471/115726397-fcf62d80-a382-11eb-9a30-4086c3cb1fa9.JPG)

[2021-04-22 21:08] bosd opened #384 "[14.0] account_reconciliation_widget - External link error"
Steps to reproduce:

Create an reconcile model.
Go to reconcile an statement which also includes lines matching the automatic reconcile model record you made.
odoo displays an link "1 reconcile lines are automatically reconciled".
Click the link and see:

[code]

[2021-04-23 09:00] rp-landoo opened #385 "[14] Reconciliation widget doesn't show paid invoices"
When I register a payment from the invoice, then disappears from the account reconciliation view.
![Captura 2](https://user-images.githubusercontent.com/82085471/115847325-21094b80-a423-11eb-93d1-6a4b32f5d113.JPG)
![Captura](https://user-images.githubusercontent.com/82085471/115847328-21a1e200-a423-11eb-9eab-61cad868ab87.JPG)

[2021-04-24 05:56] bosd commented on #336
Have you actived the "Show full accounting options"?
Go to debug mode.
Go to users -> click on your user -> settings and check "Show full accounting features"

[2021-04-24 07:58] bosd commented on #384
Cannot reproduce it after installing version 14.0.1.4
Could have been an dependency problem. Closing this one now.

[2021-04-24 07:58] #384 closed, assigned to nobody

[2021-04-24 09:27] bosd opened #386 "[14.0] Account_reconcile_widget - Regex - odoo server error"
Create a reconcile model
Set an partner to reconcile to

Input a regular expression:
K36.\(d{2}.\d{2}.\d{3})

Go to your bank account, click the reconcile button.
See the odoo server error.

<detail>

[code]

<details>

[2021-04-24 09:29] pedrobaeza commented on #386
Your regular expression is incorrect.

[2021-04-24 09:29] #386 closed, assigned to nobody

[2021-04-30 09:47] sandi26 commented on #383
@rp-landoo in my case its created analytic item but its have 2 same record i checked it and it seems there is a same line function(u can check on my attachment
![Screenshot from 2021-04-30 16-45-12](https://user-images.githubusercontent.com/40750702/116678587-aff20700-a9d3-11eb-8c1e-3fab57967ba1.png)
![Screenshot from 2021-04-30 16-44-12](https://user-images.githubusercontent.com/40750702/11667859

[2021-05-10 10:01] Joepriesto opened #388 "[14.0] Widget doesn't load"
Steps to reproduce:

1. Installed by git clone then cp -R into /lib/python3/dist-packages/odoo/addons/
2. Modules menu refreshed installed module
3. Invoicing -> Dashboard -> Click "Reconcile n items"
4. Error below

Same result via other menus.

Error:

Traceback:
Error: QWeb2: Template 'reconciliation' not found
    at Object.exception (https://odoo.hostedbyjoe.com/web/content/205-1da9141/web.as

[2021-05-10 10:03] pedrobaeza commented on #388
You haven't installed it correctly or your deployment is not correct (maybe because you haven't restarted your service or you try to install it through the "Install addon" option, which is not valid). Anyways, closing, as it's not a problem of the module.

[2021-05-10 10:03] #388 closed, assigned to nobody

[2021-07-07 07:29] flotho opened #395 "[12.0]reconcile_line_ids possible conflict between modules"
Hi,

I can see that the field reconcile_line_ids is defined in 2 different mdule without dependency between them :
https://github.com/OCA/account-reconcile/blob/12.0/account_mass_reconcile/models/mass_reconcile_history.py#L41
and
https://github.com/OCA/account-reconcile/blob/12.0/account_move_reconcile_helper/models/account_move_line.py#L13

If the second is installed after the first one, could it

[2021-07-22 09:33] sargeleo opened #400 "In-payment Status not visible"
in-payment status is not visible, are you guy's working on it as I cannot easily differentiate invoices whose payment are issued and waiting for reconciliation process.

Thanks!

[2021-07-22 09:46] pedrobaeza commented on #400
Sorry, this has nothing to do with this repository modules, or specify more.

Closing meanwhile.

[2021-07-22 09:46] #400 closed, assigned to nobody

[2021-07-22 10:44] sargeleo commented on #400
@pedrobaeza Thank you for your prompt response. When I register payment against invoice/bill the payment status is supposed to change to "IN PAYMENT" and once account is reconciled it should change to "PAID". This functionality is apparently broken or unavailable in OCA reconcile module. Just need your feedback whether this is a work in progress or I need to configure some thing else in order to a

[2021-07-22 10:46] pedrobaeza commented on #400
Which OCA module? Which Odoo version?

[2021-07-22 20:16] sargeleo commented on #400
I'm using Odoo CE 14 and using this module https://github.com/OCA/account-reconcile/tree/14.0

[2021-07-22 20:36] pedrobaeza commented on #400
I suppose you mean account_reconcile_widget, but meanwhile you don't give full instructions to reproduce the error, nothing can't be done.

[2021-07-30 13:13] moumingroup opened #401 "it does not download from OCA website"
it does not download from OCA website

[2021-07-30 16:10] pedrobaeza commented on #401
Which module? Which version?

[2021-08-06 08:43] hildickethan commented on #343
account_move_reconcile_helper https://github.com/OCA/account-reconcile/pull/361

[2021-09-29 06:46] TeoGoddet opened #404 "[14.0] account_reconciliation_widget regex models client error"
Hi !
you can provide regex to find the amount of a suggested writeoff line.
But it seems the implementation is different between the backend (python) and the frontend (js)

Here we are matching the statement_line name (wich contain no useful infos (sequence generated move name)
    var matching = line.st_line.name.match(
           new RegExp(values.amount_string)
      );

https://github.com/OCA/

[2021-09-29 08:04] TeoGoddet commented on #404
I'm also sceptic about this line which mess up my number (i have . as decimal separator in my model)
https://github.com/OCA/account-reconcile/blob/bbbffd3eb47dcdfda5ab75dfbc89df2542e663ff/account_reconciliation_widget/static/src/js/reconciliation/reconciliation_model.js#L1606

[2021-09-29 08:05] TeoGoddet commented on #404
The fix is working on my installation, should i open a MR ?

[2021-09-29 16:07] Tardo commented on #404
Hi @TeoGoddet
As you say, I don't see any inconvenience in moving the logic to Python. But I think it is better to do it in a new version since it involves having to change the sync. calls to async.

In current versions I think it is more appropriate to apply the fix for the construction of the regex.

[2021-10-01 02:08] nguyenhk99 commented on #343
* `account_reconcile_restrict_partner_mismatch`:  #406

[2021-10-04 16:42] TeoGoddet commented on #404
Ok, i'll do the PR

[2021-10-06 10:00] nguyenhk99 commented on #343
* `account_reconcile_model_strict_match_amount`: #410

[2021-10-17 10:13] OCA-git-bot opened #408 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] account_mass_reconcile - By @MiquelRForgeFlow - #512
- [ ] account_move_base_import
- [x] account_move_reconcile_forbid_cancel - By @victoralmau - #508
- [x] account_partner_reconcile - By @JasminSForgeFlow - #471
- [x] account_reconcile_payment_order - By @ernesto-garcia-tecnativa - #543
-

[2021-10-29 10:10] pedrobaeza opened #414 "Set default branch to 14.0"
Please @sbidoul @simahawk @dreispt

[2021-10-29 10:11] simahawk commented on #414
done

[2021-10-29 10:11] #414 closed, assigned to nobody

[2021-10-29 10:12] pedrobaeza commented on #414
Thanks!

[2021-10-29 20:47] TeoGoddet commented on #404
See #412

[2021-10-29 22:58] TeoGoddet opened #415 "[14.0] account_reconciliation_widget error when foreign currency on statement and on bill"
Hello !
I could not reconcile foreign currency payments,
I investigated and it seems that there is a confusion between
statement_line.currency_id and  statement_line.foreign_currency_id at a lot of place

https://github.com/OCA/account-reconcile/blob/94eecf65407ef14d0b9ffdc89396a8867defc02a/account_reconciliation_widget/models/account_bank_statement.py#L278

https://github.com/OCA/account-reconcil

[2021-10-29 23:07] TeoGoddet commented on #415
![image](https://user-images.githubusercontent.com/9885447/139510244-e4ebcb17-e7f4-4416-b93f-b11e631932c1.png)

[2021-10-29 23:11] TeoGoddet commented on #415
Finally confirmed that this commit https://github.com/odoo/odoo/commit/caeb782841fc5a7ad71a196e2c9ee67644ef9074 change currency_id to foreign_currency_id and create a new currency_id equivalent to the journal/statement currency

@ozono when working on #359, did you change any currency_id to something else ?
If not, replacing all currency_id by foreign_currency_id should make it works a lot better,

[2021-11-29 08:26] sonhd91 commented on #343
* `base_transaction_id` : [[14.0] [MIG] base_transaction_id: Migrate to version 14.0](https://github.com/OCA/account-reconcile/pull/422)

[2021-12-02 00:16] Desmor01 opened #423 "Bank/Cash reconciliation error"
Steps to reproduce the behavior:
1. When clicking on the pending reconciliation items next error message is displayed:

Error:

Traceback:
Error: QWeb2: Template 'reconciliation' not found
    at Object.exception (http://localhost:8069/web/content/114-fa45a37/web.assets_common.js:4406:7)
    at Engine._render (http://localhost:8069/web/content/114-fa45a37/web.assets_common.js:4451:103)
    at Engi

[2021-12-05 12:12] #32 closed, assigned to nobody

[2021-12-05 12:12] #61 closed, assigned to nobody

[2021-12-05 12:12] #62 closed, assigned to nobody

[2021-12-05 12:12] #77 closed, assigned to nobody

[2021-12-05 12:12] #91 closed, assigned to nobody

[2021-12-05 12:12] #125 closed, assigned to nobody

[2021-12-07 05:53] anothingguy commented on #343
- `account_mass_reconcile_as_job`: https://github.com/OCA/account-reconcile/pull/424

[2021-12-07 07:01] nguyenhk99 commented on #343
* `account_move_transactionid_import`: #430

[2021-12-10 04:48] anothingguy commented on #343
- `account_mass_reconcile_ref_deep_search`:  #425

[2021-12-12 12:12] #129 closed, assigned to sebastienbeau

[2021-12-12 12:12] #132 closed, assigned to nobody

[2021-12-30 01:57] ocandoe opened #429 "V14 account_reconciliation_widget show moves in cancel status"
## Module
account_reconciliation_widget

## Describe the bug
When you have accounting entries in a canceled state, they are still shown in the lines to reconcile in the bank statements.

## To Reproduce

Steps to reproduce the behavior:
1. Create an entry and cancel
2. Create a bank statement and reconcile
3. You can see all line include the cancel

**Expected behavior**

**Additional context**
V1

[2022-01-12 09:24] tv-openbig opened #432 "[14.0] account_reconcile_widget missing tax grid entry in created journal items"
In day-to-day accounting work, there can always be direct debits from suppliers for whom there are no direct incoming invoices (contracts, etc.). These are usually posted to an expense account using the bank statement instead of a supplier invoice. In addition to the expense account selection on manual operations tab, the reconcile widget also allows you to choose a tax (e.g. 19% input tax incl. I

[2022-01-14 14:55] TeoGoddet commented on #415
Resolved by #417

[2022-01-14 14:55] #415 closed, assigned to nobody

[2022-01-14 15:00] TeoGoddet commented on #432
Maybe similar to #418, need further checks

I will try to propose a PR to switch the logic of the reconciliation to the server side, it would also solve #420

[2022-01-17 07:59] farazbdm commented on #351
obviously the mass reconcile should not be applied on the Cancel/ Draft entries,
@kittiu can you please share

[2022-01-23 12:12] #156 closed, assigned to nobody

[2022-01-23 20:30] farazbdm commented on #351
@pedrobaeza can you please tag someone here who can resolve this issue

[2022-01-25 06:50] jcdrubay commented on #408
account_reconciliation_widget: https://github.com/OCA/account-reconcile/pull/413

[2022-01-30 18:57] shurshilov opened #439 "Error in cron model.run_scheduler(run_all=True). run_all flag"
If company non used multi currency.
Cron auto start every 5 mins.
We get this.
odoo.exceptions.UserError: You should configure the 'Exchange Gain or Loss Journal' in your company settings, to manage automatically the booking of accounting entries related to differences between exchange rates

Solution use 2 strings
model._context['no_exchange_difference'] = True
model.run_scheduler(run_all=True)
i

[2022-01-31 14:17] fkantelberg commented on #432
@TeoGoddet @tv-openbig
I tried your suggested commit but it wasn't working. I found out that the tax_tag_ids are missed somewhere between the tax and the account.move.line and I suspect a renaming of it. It would be nice if you could test #440 as this resolves the issue for me.

[2022-01-31 15:51] #432 closed, assigned to nobody

[2022-02-07 10:15] alodoanhnhan opened #441 "[14.0][Bug] account_reconcile_widget: The application does not work in a group with inheritance"
When I decentralize personnel in the form of groups (group of accountants, group of chief accountants, group of directors,...), these groups are inherited (for example, the group of chief accountants inherits the group of accountants. )
At this time, the application only works well for the accounting group, but not for the chief accountant group and higher groups (directors, administration groups)

[2022-02-07 17:59] pedrobaeza commented on #441
This should be fixed after #427

[2022-02-07 17:59] #441 closed, assigned to nobody

[2022-02-12 10:08] luc-demeyer commented on #351
@kittiu
Can you make a PR with you fix to avoid that cancelled and draft entries are getting reconciled ?

[2022-02-12 12:24] kittiu commented on #351
Here you go, https://github.com/OCA/account-reconcile/pull/442
@farazc2h @luc-demeyer

[2022-02-13 12:11] #172 closed, assigned to nobody

[2022-02-18 12:02] GorkaMagra commented on #383
This is still happening to this day, I'll explain a bit more how and when this does occur:

- If you manually add a new journal entry and select an analytic account to bind it, both the journal item and the analytic item will be created and the overall operation would be ok.

- However, if you reconcile an item and add it's analytic account throught the wizard provided on the dashboard (the window

[2022-02-18 14:27] jonerikceberio commented on #383
Solved in #444

[2022-02-21 21:45] andrewdhastings commented on #429
This is still an issue, does anyone have a fix for this?

[2022-02-26 00:23] echarp commented on #423
I suppose this is a setup bug, or else nobody would be able to use it, no?

Found it following: https://www.mallory-marcot.com/blog/devblog-1/post/le-lettrage-des-ecritures-comptables-avec-odoo-14-community-edition-16

Which includes some steps to install it. Seems to work well, I do have the proper reconciliation button!

[2022-02-26 23:12] alielnagar opened #447 "accoun"
uu

[2022-02-27 08:18] #447 closed, assigned to nobody

[2022-02-27 15:32] echarp commented on #423
After some tweaking and restart, it seems to work as expected.

Probably some setup/installation issue.

[2022-03-06 12:13] #186 closed, assigned to nobody

[2022-03-20 12:14] #215 closed, assigned to nobody

[2022-03-21 17:02] omalbastin opened #455 "[15.0] account_reconciliation_widget not listed in odoo apps"
account_reconciliation_widget as well as other apps not listed in odoo apps. It would be great if the repo is added to odoo apps store

[2022-03-27 12:14] #218 closed, assigned to nobody

[2022-04-14 14:47] andrewdhastings commented on #429
New merge request to fix issue: https://github.com/OCA/account-reconcile/pull/451

[2022-04-14 15:09] #429 closed, assigned to nobody

[2022-04-17 12:15] #237 closed, assigned to nobody

[2022-05-05 03:31] mslokhat opened #461 "account_banking_reconciliation(v12) : add bank charges on reconcilation + transaction Date and ID"
Hi,
is it possible to add new lines in the bank reconciliation it will then create the corresponding journal entries
ex : for bank charges

also to be able to add the transaction date and Ref ID as per the bank statement

thanks

[2022-05-05 06:29] pedrobaeza commented on #461
That's something standard. Please check documentation or ask on forums.

[2022-05-05 06:29] #461 closed, assigned to nobody

[2022-05-08 12:16] #259 closed, assigned to nobody

[2022-05-18 14:57] ferran-S73 commented on #408
account_move_reconcile_helper https://github.com/OCA/account-reconcile/pull/466

[2022-05-21 15:44] widiyanto020291 opened #467 "Error: QWeb2: Template 'reconciliation' not found"
Error: QWeb2: Template 'reconciliation' not found
exception@http://localhost:8069/web/content/616-6d033f7/web.assets_common.js:4408:7
_render@http://localhost:8069/web/content/616-6d033f7/web.assets_common.js:4453:103
render@http://localhost:8069/web/content/616-6d033f7/web.assets_common.js:4449:151
renderElement@http://localhost:8069/web/content/625-c2d5f68/web.assets_backend.js:488:452
OdooClass

[2022-05-21 15:53] pedrobaeza commented on #467
Steps to reproduce the problem in runboat?

[2022-05-25 12:34] ieski opened #468 "Incorrect field "self.bank_account_id" name. It should be "self.partner_bank_iban"."
https://github.com/OCA/account-reconcile/blob/c1ecba90e74adff44146f81aa0f5733ae30c149e/account_reconciliation_widget/models/account_bank_statement.py#L181

[2022-05-25 17:28] pedrobaeza commented on #468
Odoo version? Steps to reproduce the problem?

[2022-05-25 20:06] ieski commented on #468
Version: v.15
Line: 181

**It will change with this**
`if self.account_number and self.partner_id and not self.partner_bank_id :`

[2022-05-27 06:19] pedrobaeza commented on #468
I see `bank_partner_id` and `partner_bank_id` on the model. Are you sure the one you point is the correct?

[2022-05-27 09:42] ieski commented on #468
Ok. but no "bank_account_id"

[code]

[2022-05-27 09:49] pedrobaeza commented on #468
Then which one is the correct?

[2022-05-27 12:22] ieski commented on #468
This correct:

[code]

[2022-05-28 12:14] pedrobaeza commented on #468
Fixed in b44d9d4

[2022-05-28 12:14] #468 closed, assigned to nobody

[2022-05-29 12:16] #290 closed, assigned to nobody

[2022-05-31 13:44] klando opened #469 "[15] account_reconciliation_widget assets error"
## Module

**account_reconciliation_widget**

## Describe the bug

[code]

## To Reproduce
**Affected versions**: 15

Steps to reproduce the behavior:
1. Install the addon
2. (regenerate assets)
3. (full refresh of page)
4. click on the "reconcile" menu

**Expected behavior**

Something without error

[2022-05-31 15:24] pedrobaeza commented on #469
Is this reproducible in runboat?

[2022-05-31 15:48] klando commented on #469
I don't find the reconcile menu in the runbot...ok, updated ACL for that.

No errors there...

[2022-05-31 15:57] klando commented on #469
so, as it is working in runbot I suppose the problem is on my side only (maybe due to another addon ?)
Any pointer/assistance to debug will be greatly appreciated..

[2022-05-31 15:59] pedrobaeza commented on #469
I would start installing the module in a fresh database:

- If not working, it's your installation/deployment method.
- If working, it's an extra module that cause the problem.

[2022-05-31 16:18] klando commented on #469
tks @pedrobaeza, I'll try.
I close this issue.

[2022-05-31 16:18] #469 closed, assigned to nobody

[2022-05-31 16:32] klando commented on #469
solution here to the problem: just upgrade the addon (from web UI), fixes the situation.

[2022-06-12 12:15] #314 closed, assigned to nobody

[2022-06-16 20:54] einstom commented on #467
faced with the same issue.

[2022-06-18 02:00] bjustizglez commented on #469
Tengo la misma situación y no se resolvió actualizando

[2022-06-19 12:15] #317 closed, assigned to nobody

[2022-06-29 15:35] DAVIDRD91 commented on #469
I have the same situation.

how to update add-on (from web UI)

[2022-07-02 18:04] jordens opened #478 "account_reconciliation_widget label match decimal_separator broken"
The regexp that is meant to remove everything that is not a digit or the decimal separator from the label match is broken.

https://github.com/OCA/account-reconcile/blob/a29c6fc9c1cccbb287334a78cd0f17eee9013f5b/account_reconciliation_widget/static/src/js/reconciliation/reconciliation_model.js#L1606

This was fixed in the server side model in https://github.com/odoo/odoo/commit/d4da8be3669fbfdfdcad

[2022-07-02 22:15] pedrobaeza commented on #478
Can you please propose the needed change in a pull request?

[2022-07-03 12:16] #326 closed, assigned to nobody

[2022-07-04 15:02] TeoGoddet commented on #478
Hi, see https://github.com/OCA/account-reconcile/pull/420 and review it if you can.

[2022-07-04 15:06] TeoGoddet commented on #336
Maybe we could activate it automatically on all accounting tests. (add admin to Show full accounting features) ?

[2022-07-12 14:26] #478 closed, assigned to nobody

[2022-07-17 12:16] #331 closed, assigned to nobody

[2022-07-19 14:43] me-Lee opened #484 "No reconcile button & nothing to reconcile"

[2022-07-19 18:07] #484 closed, assigned to nobody

[2022-07-21 11:05] me-Lee opened #485 "Reconciliation screen shows draft vendor bills"
account_reconciliation_widget

## Describe the bug
Reconciliation screen includes draft vendor bills

**Affected versions**:
15.0.1.1.2

Steps to reproduce the behavior:
1. Create a vendor bill, save but do not confirm
2. Load reconciliation screen and you will see the draft vendor bill waiting to be reconciled
3.

**Expected behavior**
I would not expect to see a 'draft' vendor bill in the reconc

[2022-07-21 11:09] pedrobaeza commented on #485
Do you have latest version? Since this commit: https://github.com/OCA/account-reconcile/commit/f343ccfa3c09b3b206f49b2735b0f58068302b45, it should happen.

[2022-07-21 11:57] me-Lee commented on #485
I have just found the latest version on here & it has fixed the problem. I'm new to github & didn't realise that the version here is newer than OCA version. Thank you for your help.

[2022-07-21 11:58] #485 closed, assigned to nobody

[2022-07-24 12:17] #332 closed, assigned to nobody

[2022-07-29 17:54] clementmbr opened #486 "Impossible to click on "Manual Operation" tab with fr_FR user"
## Module
account_reconciliation_widget

## Describe the bug
Impossible to click on tab "Manual Operation" when trying to reconcile a bank.statement with amount over 999 (and user not with en_US language).
JS Error message :
"Uncaught Error: « 1 000,00 € » n'est pas un champ monétaire valide"

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Set your user's language

[2022-07-29 17:59] pedrobaeza commented on #486
Are you sure you have latest code? cc @TeoGoddet

[2022-07-29 18:06] clementmbr commented on #486
@pedrobaeza Yes I double checked that.
But I just discovered that @TeoGoddet touched the regex number part few days ago before opening this issue.
Might have broken something...

[2022-07-29 18:21] clementmbr commented on #486
I tried to fix the bug by myself, but I couldn't reproduce the bug on my local desktop... Maybe it's just a conflict on assets... I'll check later...

[2022-07-31 12:18] #333 closed, assigned to nobody

[2022-07-31 12:18] #334 closed, assigned to nobody

[2022-08-03 00:26] mdfaisalpapa opened #488 "Uncaught Promise > Cannot find bank_statement_reconciliation_view in this registry!"
## Module
account_reconciliation_widget

## Describe the bug
Installed the account_reconciliation_widget available at https://odoo-community.org/shop/account-reconciliation-widget-8893?search=reconciliation_widget#attr=19070

When I click on the reconcile button i get the following error

KeyNotFoundError: Cannot find bank_statement_reconciliation_view in this registry!
    at Registry.get (http:/

[2022-08-03 06:27] pedrobaeza commented on #488
Are you able to reproduce it using the runboat link in the README?

[2022-08-03 08:05] mdfaisalpapa commented on #488
The issue got resolved on rebooting the server.

[2022-08-03 08:06] #488 closed, assigned to nobody

[2022-08-04 10:58] clementmbr commented on #486
@pedrobaeza @TeoGoddet finally I did manage to repeat the bug on a local odoo. So it's a real bug. I'm trying to fix it.
If you have an idea of the origin, let me know! :)

[2022-08-04 11:00] pedrobaeza commented on #486
Isn't this problem due to https://twitter.com/alexisdlattre/status/1554758998456692736?s=20&t=UtQHqkI3B7NVl8Sq_hg23g ?

[2022-08-04 12:06] clementmbr commented on #486
@pedrobaeza it's definitely due to this! Thanks for sharing the info. :pray: I'll talk to Alexis to understand how to fix this.
If you're ok with this, I'll let the issue opened until the problem is solved (even if it's not a problem due do the account reconcile widget directly).

[2022-08-04 12:08] pedrobaeza commented on #486
Well, I prefer to clean this issue in this repo, as it's not related. Please open the issue at Odoo.

[2022-08-04 12:15] clementmbr commented on #486
I tought it could help other people who would face this bug through the widget as I did.
But if you prefer I can close it. No problem.

[2022-08-04 12:15] #486 closed, assigned to nobody

[2022-08-04 13:58] alexis-via commented on #486
You can follow the comments here https://github.com/odoo/odoo/pull/90191 and the PR that is supposed to fix the regression in v14 here https://github.com/odoo/odoo/pull/97462

[2022-09-18 12:19] #351 closed, assigned to nobody

[2022-09-18 12:19] #362 closed, assigned to nobody

[2022-09-25 12:20] #366 closed, assigned to nobody

[2022-09-25 16:37] #404 closed, assigned to Tardo

[2022-10-02 12:21] #368 closed, assigned to nobody

[2022-10-02 12:21] #383 closed, assigned to nobody

[2022-10-03 16:19] sbidoul opened #497 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] account_mass_reconcile - By @sonhd91 - #517
- [x] account_move_reconcile_forbid_cancel - By @ACheung-FactorLibre - #568
- [x] account_move_reconcile_helper - By @mpascuall - #771
- [x] account_partner_reconcile - By @yibudak - #791
- [ ] account_reconcile_restrict_partner_mismatch - By @sbej

[2022-10-06 10:03] Ahmed-Sabri commented on #467
Same here ..

![image](https://user-images.githubusercontent.com/108468895/194285494-cd1233f5-13d7-46e2-9353-4c1fe7919fad.png)

[2022-10-06 18:41] pedrobaeza commented on #467
Nobody is saying if reproducible on runboat (which is not AFAIK), so closing. Your problem may be that you are using the "Import module" option, which is not valid.

[2022-10-06 18:41] #467 closed, assigned to nobody

[2022-10-09 12:20] #385 closed, assigned to nobody

[2022-10-16 12:21] #395 closed, assigned to nobody

[2022-10-23 12:22] #401 closed, assigned to nobody

[2022-10-30 16:47] TeoGoddet commented on #497
Regarding account_reconciliation_widget, it seems a lot of works need to be done.
Maybe a full refactoring using the new backend functions and owl would be better.
The entreprise module switched to more standard views (Heavily customized kanban)
Would be awesome if we could have the chatter in the widget

[2022-10-30 23:47] pedrobaeza commented on #497
Although that refactoring would be good, an initial step should be to adapt existing one for the few missing pieces in v16. The old JS engine is still there, so only bridges or little things like m2o widget should be needed, but not indepth analysis by my part yet.

The rest can come after this as a 2.0 version.

[2022-10-31 06:14] ecino opened #499 "[14.0][account_reconciliation_widget] Big bank statements reconciliation issue"
When opening a large bank statement files with more than thousand lines (which happens to us), the reconciliation widget takes very long to load and then the user interface is sluggish.

The view is showing all the bank statement lines at the same time which seems to be the cause of the problem.

I saw in the code that there should be options to load only a few lines in the view and have a button

[2022-10-31 06:20] ecino commented on #499
Sorry posting too quickly, I found that my issue didn't come from the module itself but from another that inherits it.

[2022-11-06 12:18] #343 closed, assigned to nobody

[2022-11-08 12:10] alexis-via opened #503 "[14.0] account_reconciliation_widget : missing analytic account in manual reconcile interface"
This bug is a regression that I introduced in this PR:
https://github.com/OCA/account-reconcile/pull/487/files

Scenario of the regression:
- go to Journal Items
- selection several journal items from the same account that are NOT balanced
- click on "Action > Reconcile"
=> odoo opens the manual reconciliation interface
- in the tab "Manual Operations", you don't see the field "Analytic account"

[2022-11-27 12:16] #423 closed, assigned to nobody